{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<form action="?" method="GET">
    <div class="row">

        <div class="col-lg-5 col-md-12 col-sm-12">
            <h2 style="font-weight: 700;">Reuniões do conselho</h2>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <input type="date" name="data" id="{{ request.GET.data}}" value="{{ request.GET.data}}" class="form-control" title="Filtrar pela data da reunião">
        </div>
        <div class="col-lg-4  col-md-6 col-sm-12">
            <a href="{% url 'cadastrar-reuniaoconselho' %}" class="btn btn-success float-right mr-2 botoes">Adicionar</a>
            <a href="{% url 'listar-reuniaoconselho' %}" class="btn btn-secondary float-right mr-2 botoes">Limpar</a>
            <button type="submit" class="btn btn-primary d-inline float-right  mr-2 botoes">Filtrar</button>
        
        </div>
    </div>
</form>

<hr>

<div class="table-responsive" id="tabela-listar">
    <table class="table table-striped">
        <tr>
            <th>Data</th>
            <th>Pauta</th>
            <th>Relatório</th>
            <th>Local</th>
            <th>Opções</th>
        </tr>
        {% for reunioes in object_list %}
        <tr class="text-limit">
            <td>{{ reunioes.data }}</td>
            <td>{{ reunioes.pauta }}</td>
            <td>{{ reunioes.relatorio }}</td>
            <td>{{ reunioes.local }}</td>
            <td>
                <a href="{% url 'visualizar-idreuniaoconselho' reunioes.pk %}" class="btn btn-info btn-sm" title="Detalhes"><i class="fa fa-eye icone" aria-hidden="true"></i></i></a>
                <a href="{% url 'editar-reuniaoconselho' reunioes.pk %}" class="btn btn-warning btn-sm" title="Editar"><i class="fa fa-pencil icone" aria-hidden="true"></i></a>
                <a href="{% url 'excluir-reuniaoconselho' reunioes.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="fa fa-trash icone"  aria-hidden="true"></i></a>
            </td>
        </tr>
        {% empty %}
        <td colspan="5">Nenhuma reunião registrada</td>
        {% endfor %}
    </table>

    <ul class="pagination justify-content-end">
    
        {% if page_obj.has_previous %}

            {% if request.GET.data %}
            <li class="page-item"><a class="page-link" href="?page=1&data={{request.GET.data}}">&laquo; Primeira</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&data={{request.GET.data}}">Anterior</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %}

        {% endif %}
    
        {% if page_obj.has_next %}
            {% if request.GET.data %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&data={{request.GET.data}}">Próxima</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&data={{request.GET.data}}">Última &raquo;</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
            {% endif %}
        {% endif %}
    
    </ul>
</div>

{% endblock %}