{% extends 'paginas/modelo.html' %}

{% block conteudo %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Acesso Negado</h4>
                <p>{{ exception }}</p>
                <hr>
                <p class="mb-0">Por favor, entre em contato com o administrador se você acredita que isto é um erro.</p>
            </div>
            <a href="{% url 'pagina-inicial' %}" class="btn btn-primary">Voltar para Página Inicial</a>
        </div>
    </div>
</div>
{% endblock %}