{% extends 'paginas/modelo.html' %}

{% load static%}

{% block conteudo %}
    <h2>Excluir {{ tiporeuniao }}</h2>
    <p>Confirme para excluir definitivamente.</p>
    <hr>
    <p> Deseja excluir o registro <strong>{{ object }}</strong>?</p>
    <form action="" method="POST">

        {% csrf_token %}


        {{ form.as_p }}

        <button class="btn btn-success float-right" type="submit">Excluir</button>
        <a href="{% url 'listar-matrizGUT' %}" class="btn btn-danger float-left">Cancelar</a>


    </form>

{% endblock %}