{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
    <h2>Dados do(a) visitante</h2>
    <p>Mais detalhes sobre a visita do dia <strong>{{visitantes.data}}</strong>.</p>
    <hr>

    <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Nome</label>
          <input type="text" class="form-control" value="{{visitantes.nome}}" readonly>
        </div>
        <div class="form-group">
          <label for="formGroupExa">Data da visita</label>
          <input type="data" class="form-control" id="formGroupExa" value="{{visitantes.data}}" readonly>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Endereço</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" value="{{visitantes.endereco}}" readonly>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput3">Telefone</label>
            <input type="text" class="form-control" id="formGroupExampleInput3" value="{{visitantes.telefone}}" readonly>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Quantidade de filhos</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" value="{{visitantes.filhos}}" readonly>
        </div>
    <a href="{% url 'listar-visitantes' %}" class="btn btn-danger float-right">Voltar</a>
</form>

{% endblock %}
