{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
    <h2>Dados da reunião do conselho</h2>
    <p>Mais detalhes sobre a reunião do conselho do dia <strong>{{reuniaoconselho.data}}</strong>.</p>
    <hr>

    <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Pauta</label>
              <input type="text" class="form-control" value="{{reuniaoconselho.pauta}}" readonly>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Data</label>
              <input type="data" class="form-control" id="formGroupExampleInput2" value="{{reuniaoconselho.data}}" readonly>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput3">Local</label>
                <input type="text" class="form-control" id="formGroupExampleInput3" value="{{reuniaoconselho.local}}" readonly>
            </div>
            <div class="form-group">
                <label for="inputForm2">Presbiteros</label>
                <input type="data" class="form-control" id="inputForm2" value="{{reuniaoconselho.presbiteros}}" readonly>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Relatório</label>
                <input type="text-area" class="form-control" id="formGroupExampleInput2" value="{{reuniaoconselho.relatorio}}" readonly>
            </div>
        <a href="{% url 'listar-reuniaoconselho' %}" class="btn btn-danger float-right">Voltar</a>
    </form>

{% endblock %}
